.header {
    nav {
        background-color: $umdred;
        padding: 0.625rem 1.5rem;        
    }

    &__logo{
        img{
            height: auto; 
            width: auto; 
            max-width: 300px; 
            max-height: 300px;
        }
    }

    &__menu{ //Mobile menu
        > span {
            display: block;
            width: 26px;
            height: 2px;
            background-color: $darkBlue;

            &:not(:last-child){
                margin-bottom: 3px;
            }
        }
    }

    &__links{
        a {
            font-size: $font-sm;
            color: $grayishBlue;
        }
    }
}
