.progdesc {
    display: flex;
    height: 200px;

    &__text{
        color: black;
        margin-top: 5%;
        margin-left: 5%;
    }

    img {
        height: 150px;
        width: 150px;
    }

}