//Colors
$darkBlue: hsl(233,26%,24%);
$limeGreen: hsl(136, 65%, 51%);
$brightCyan: hsl(192, 70%, 51%);
$grayishBlue: hsl(233, 8%, 62%);
$lightGrayishBlue: hsl(220, 16%, 96%);
$veryLightGray: hsl(0, 0%, 98%);
$white: hsl(0, 0%, 100%);
$umdred: hsl(0, 100%, 37.6%);
$umdyellow: hsl(47, 84.6%, 51.8%);

//Font Sizes
$font-med: 1.125rem; //14px
$font-sm: 0.875rem; //18px